* {
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url("/css2/Frank_Ruhl_Libre/FrankRuhlLibre-Bold.ttf");
}

h1 {
  font-family: "myFirstFont", "Frank_Ruhl_Libre";
}
h2 {
  font-family: "myFirstFont", "Frank_Ruhl_Libre";
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #e5e5e5;
}
.container {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 60px;
  margin: 5rem auto auto auto;
}

.container header {
  grid-column: span 6;
  grid-row: span 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(/css/img/man-and-child.png);
  background-repeat: no-repeat;
  background-position: bottom 0px right 7.5rem;
  background-size: 150px;
  background-color: #c7ddea;
  font-size: 1.7rem;
}

.container menu {
  background-color: #fff;
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 60px;
  margin: 0;
  padding: 0;
  grid-template-areas: ". home offer why contact . ";
}
.home {
  grid-area: home;
  color: rgba(0, 0, 0, 0.6);
}
.offer {
  grid-area: offer;
  color: rgba(0, 0, 0, 0.6);
}
.why {
  grid-area: why;
  color: rgba(0, 0, 0, 0.6);
}
.contact {
  grid-area: contact;
}

.list {
  align-self: center;
  align-items: center;
  text-align: center;
}

.container main {
  grid-column: span 6;
  grid-row: span 8;
  background-color: #a9a19e;
  display: flex;
  flex-direction: row;
}
.container main h2 {
  color: white;
  width: 50%;
  padding: 5.5rem 0 0 5rem;
  font-size: 3rem;
  margin-top: 0%;
}

.container main .formula {
  width: 50%;
}

.container main .formula form {
  margin: 100px 0 0 0;
  color: white;
  font-size: 12px;
}
.container main .formula button {
  font-size: 10px;
  border-radius: 40px;
  width: 9rem;
  height: 2.6rem;
  margin-left: 11.8rem;
  border: none;
  background-color: #fff;
  font-weight: bold;
}

#eMail {
  margin-top: 6px;
  margin-bottom: 20px;
  border: none;
  width: 20.8rem;
  height: 2.5rem;
  border-radius: 4px;
}

#message {
  width: 20.8rem;
  height: 150px;
  padding: 10px 5px 10px 10px;
  margin: 5px 0 15px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 12px;
  margin-top: 6px;
  padding-bottom: 7.5rem;
}

input::placeholder {
  color: rgb(0, 0, 0);
}

.container .map {
  grid-column: span 6;
  grid-row: span 6;
  background-image: url(/css/img/map-contact.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.map img {
  height: 120px;
  margin: auto 0 auto 3rem;
}
.container .map .contact {
  background-color: #fab131;
  width: 20rem;
  height: 11rem;
  color: white;
  padding: 1rem;
  margin: 3rem 0 0 6rem;
}
.container .map .contact h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0 0 0;
}
.container .map .contact p {
  margin-top: 0;
  line-height: 25px;
}

.container footer {
  grid-column: span 6;
  grid-row: span 5;
  background-color: #777574;
}
